---
import MainLayout from "../../../layouts/MainLayout.astro";
import ProjectCard from "../../../components/ProjectCard.astro"
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
const { tag } = Astro.params;

if(tag === undefined) {
  throw new Error('Tag is required');
}

const allProjectInfo: CollectionEntry<"project">[] = (await getCollection("project"))
const tagProject = allProjectInfo.filter(project => project.data.tags.includes(tag));
---

<MainLayout>
    <section class="pb-8">
        <a href="/projects" class="inline-block bg-gray-100 p-2 mb-6 hover:bg-indigo-500 hover:text-white mt-8">Back To Projects</a>
        <div class="py-8 mb-12">
            <h1 class="flex justify-center text-3xl md:text-5xl font-bold capitalize">
                All {tag} projects
            </h1>
        </div>
       
    
      
        <div class="grid grid-cols-1 gap-6 gap-x-8 sm:grid-cols-2 lg:grid-cols-3 mb-12  overflow-hidden">
             
    
            {tagProject.map(project=>{
    
                return(
    
    <ProjectCard project={project}/>
                )
            })}
        </div>
    </section>
    </MainLayout>