---
import { Image } from "astro:assets"
import AboutImg from "../images/aboutImg.png"
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
    <main class="flex w-full  flex-col  items-center justify-center mb-8">
        <div class="w-full  mx-auto text-gray-700 text-center ">
          <h1 class=" text-3xl  py-8 sm:text-4xl md:text-6xl font-bold drop-shadow-lg leading-9 tracking-wide">Enthusiast  Coder</h1>
        </div>

        <hr>

        <div class="flex flex-col md:flex-row   md:mt-12">
            <div class="w-full md:w-3/4 flex flex-col justify-center gap-3 ">
              
          
                  <p class="font-semibold pt-4 whitespace-normal text-justify">
                    <span class="italic font-bold ">
                    
                      With just 2 years of learning
                    </span>
                    - while creating experience I got involved in more than 8
                    programmming languages, and continuesly evolving toward better user
                    experience.
                  </p>
                  <p class="text-black opacity-80 text-justify font-medium whitespace-normal ">
                    A certified post gratuade fullstack developer with UI/UX design
                    interest, my passion is to create websites and fully functioning web
                    and mobile applications.
                  </p>
                  <p class="text-black opacity-75 text-justify py-8 font-medium">
                    I believe that technology allows us, to be creative and practical
                    and to help millions of users not only to be able navigate through
                    web applications but to have and engaging web-life with enriched
                    designs.
                  </p> 
            </div>
            <div class=" mt-4 w-2/3   ">
                <Image class="h-auto w-full" src={AboutImg}  alt="person " width={280} height={300}/>
            </div>
             
        </div>
    
      
       
       
    
       
    
      
    
       
    
        
      </main>
</MainLayout>
