---
import MainLayout from "../layouts/MainLayout.astro";
import ContactForm from "../components/ContactForm.astro"
---
<MainLayout title="contact" 
>
<div class="my-20">

   <ContactForm/>
</div>
</MainLayout>