---
import { Image } from "astro:assets";
import portfolioPic from "../images/1.png";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import ButtonAlter from "../components/ButtonAlter.astro";
import ContactForm from "../components/ContactForm.astro"
import Hero from "../components/Hero.astro"



---




<MainLayout>
  <div class="mb-20 h-full w-full">
<Hero/>
   <!-- <div
      class="w-1/6 mr-2 ml-auto -mt-12 fixed bottom-6 left-4 mb-6 animate-bounce"
    >
      <h3>Scroll down</h3>
      <svg
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        width={50}
        height={50}
      >
        <path
          d="M5 15C5 16.8565 5.73754 18.6371 7.05029 19.9498C8.36305 21.2626 10.1435 21.9999 12 21.9999C13.8565 21.9999 15.637 21.2626 16.9498 19.9498C18.2625 18.6371 19 16.8565 19 15V9C19 7.14348 18.2625 5.36305 16.9498 4.05029C15.637 2.73754 13.8565 2 12 2C10.1435 2 8.36305 2.73754 7.05029 4.05029C5.73754 5.36305 5 7.14348 5 9V15Z"
          stroke="#000000"
          stroke-width="1"></path>
        <path d="M12 6V14" stroke="#000000" stroke-width="1"></path>
        <path d="M15 11L12 14L9 11" stroke="#000000" stroke-width="1"></path>
      </svg>
    </div> -->

    <!-- <div class="h-20 w-full bg-slate-400">Technology part</div> -->
    <!-- <article class="border-2 bg-violet-50  flex justify-center ">
      

     
        <div
        class="my-4 bg-white z-10 rounded-tr-2xl hover:rounded-none shadow flex flex-col items-center gap-6 p-8 w-3/4 mx-auto"
      >
        <p
          class="text-black opacity-60 text-justify font-medium whitespace-normal"
        >
          A certified post gratuade fullstack developer with UI/UX design
          interest, my passion is to create websites and fully functioning web
          and mobile applications.
        </p>
        <ButtonAlter text={"Learn More"} />
      
      </div>
    
    </article> -->
<!--    
    <div class="text-8xl uppercase text-gray-300 text-center">moodboard</div> -->
    <!-- <div
      id="contact"
      class=" w-full h-full flex items-center justify-center mb-10"
    >
     <ContactForm/>
    </div> -->
  </div>
</MainLayout>
