---
import { Image } from "astro:assets";

import MainLayout from "../layouts/MainLayout.astro";


import ContactForm from "../components/ContactForm.astro"
import Hero from "../components/Hero.astro"
import MoodBoard from "../components/MoodBoard.astro";



---




<MainLayout>
  <div class=" h-full w-full pb-20">
<Hero/>
 
   
   <section class="block  text-5xl  text-center mt-20 rounded-xl my-8 relative bg-slate-50">
     MoodBoard
    
    <div class=" my-12 mx-auto scale-75">
      <MoodBoard/>
    </div>
   </section>
    <div
      id="contact"
      class=" w-full h-full flex items-center justify-center mb-10"
    >
     <ContactForm/>
    </div> 
  </div>
</MainLayout>
