---
import { Image } from 'astro:assets';
import portfolioPic from "../images/1.png"
import MainLayout from "../layouts/MainLayout.astro"
import Button from '../components/Button.astro';
---
<MainLayout>
	<div class="h-full flex  flex-col md:flex-row px-4 sm:px-8 md:px-12 lg:px-16 xl:px-24 pb-16   ">
		<div class="md:hidden flex-col text-start w-screen text-5xl mt-20 mb-0">
		  {' '}
		  <h1 class="  font-bold leading-9 drop-shadow-lg text-4xl sm:text-5xl mb-2  ">
			Hi, I am Judit
		  </h1>
		  <!-- <AnimatedText
			text={'Coding with style'}
			classNMHeader="!text-base sm:!text-lg !text-gray-600 !font-light"
		  /> -->
  
		</div>
		{/* IMAGE CONTAINER */}
		<div class=' w-full lg:w-1/2 md:h-screen h:60  grid place-items-center'> <div class=" md:w-5/8 relative  ">
  
  <Image
	src={portfolioPic}
	alt="coder photo"
	
	class="w-11/12 md:w-full h-auto mr-auto scale-85 md:scale-100"
  /> 
  </div></div>
	   
		{/* TEXT CONTAINER */}
		<div class="h-60  w-screen md:h-screen lg:w-1/2 flex flex-col md:pl-6 items-start justify-start  py-6 sm:py-10  md:justify-center md:items-baseline  ">
		  {/* TITLE */}
  
		  <div class="hidden md:flex flex-col  ">
			{' '}
			<h1 class=" md:pt-6  md:text-5xl lg:text-7xl  font-bold leading-9 drop-shadow-lg border-2 ">
			  Hi, I am Judit
			</h1>
  
			<!-- <AnimatedText
			 text={'Coding Creativity into Reality'}
			  classNMHeader="!text-base sm:!text-lg !text-gray-600 !font-light"
			/> -->
		  </div>
  
		  {/* DESC */}
  
		  <p class=" -mt-8 md:mt-0  w-full  whitespace-normal md:w-11/12 tracking-normal text-sm md:text-base text-light  text-black/75 leading-7 md:pt-4 pb-4 md:pb-6">
			Welcome to my Lorem ipsum dolor sit, amet consectetur adipisicing
			elit. Nemo tempore deleniti, maxime perspiciatis nisi sint
			temporibus! Tempora doloremque, adipisci, fugit ad, nam vel porro
			ipsa ex consequuntur nulla eligendi culpa?
		  </p>
		  {/* BUTTONS */}
		  <div class="w-full flex gap-4 ">
			


<Button text={"Contact Me"}/>


				</div>
				
  
			
		  </div>
		</div>
</MainLayout>

		
	  
		 
	
