---
const {title}=Astro.props

 interface Props{
    title:string
 }
---
<div class="py-2 w-full pb-4">
    <h2
      class="pl-2 uppercase text-lg font-poppins font-bold text-top-color before:content-['•'] before:mr-1 before:text-amber-400 before:text-2xl"
    >
      {title}
    </h2>
  </div>