---
import Button from "./Button.astro"
let error=""


---



    <section class="relative w-full  group bg-gradient-to-bl from-fuchsia-600 to-blue-300 p-4 rounded-3xl ">
<div class="text-gray-600 relative  w-full body-font bg-white shadow-md rounded-md" id="contact">
    <div class=" flex flex-col md:flex-row lg:max-w-full w-full  py-16 md:py-6 mx-auto section"
        id="contact-form">
     
        <div class="md:w-1/2 w-full px-8">
            <h1 class="text-4xl text-gray-800 font-bold title-font mb-4">Contact Us</h1>
            <p class="leading-relaxed text-lg text-gray-900 mt-7 w-3/4">
                We're here to assist you! If you have any questions or need assistance, please feel free to reach out to
                us.
              
                
            </p>
            <p class="leading-relaxed text-base text-gray-900 mt-8">
                Connect me on social media:
            </p>
          
                <div class=" text-gray-700 opacity-70 flex flex-wrap gap-4 p-4  justify-between w-2/4   "> 
                 
                  <a href="">
    
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"  class="hover:scale-110 hover:text-violet-600" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M13.397 20.997v-8.196h2.765l.411-3.209h-3.176V7.548c0-.926.258-1.56 1.587-1.56h1.684V3.127A22.336 22.336 0 0 0 14.201 3c-2.444 0-4.122 1.492-4.122 4.231v2.355H7.332v3.209h2.753v8.202h3.312z"></path></svg>
                  </a>
                  <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"  class="hover:scale-110 hover:text-violet-600" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M20.947 8.305a6.53 6.53 0 0 0-.419-2.216 4.61 4.61 0 0 0-2.633-2.633 6.606 6.606 0 0 0-2.186-.42c-.962-.043-1.267-.055-3.709-.055s-2.755 0-3.71.055a6.606 6.606 0 0 0-2.185.42 4.607 4.607 0 0 0-2.633 2.633 6.554 6.554 0 0 0-.419 2.185c-.043.963-.056 1.268-.056 3.71s0 2.754.056 3.71c.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.584 6.584 0 0 0 2.185.45c.963.043 1.268.056 3.71.056s2.755 0 3.71-.056a6.59 6.59 0 0 0 2.186-.419 4.615 4.615 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.187.043-.962.056-1.267.056-3.71-.002-2.442-.002-2.752-.058-3.709zm-8.953 8.297c-2.554 0-4.623-2.069-4.623-4.623s2.069-4.623 4.623-4.623a4.623 4.623 0 0 1 0 9.246zm4.807-8.339a1.077 1.077 0 0 1-1.078-1.078 1.077 1.077 0 1 1 2.155 0c0 .596-.482 1.078-1.077 1.078z"></path><circle cx="11.994" cy="11.979" r="3.003"></circle></svg>
                  </a>
                    <a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24"  class="hover:scale-110 hover:text-violet-600" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><circle cx="4.983" cy="5.009" r="2.188"></circle><path d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"></path></svg>
                  </a>
                  </div>
           
        </div>
        <div class="md:w-1/2 md:mr-0 md:ml-auto  w-full mt-10 md:mt-0 md:px-8  ">
            <h1 class="text-4xl text-gray-800  font-bold title-font mb-4">Contact Form</h1>
            <form action="send-contact.php" method="post" id="submit-contact-form">
                <div class="p-2 w-full">
                    <div class="relative">
                        <label for="name" class="leading-7 py-4 text-lg text-gray-900">Your Name</label>
                        <input type="text" id="name" name="name" required=""
                            class="w-full bg-white rounded border border-gray-400 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-900 py-1 px-1 leading-8 transition-colors duration-200 ease-in-out ">
                    </div>
                </div>
                <div class="p-2 w-full">
                    <div class="relative">
                        <label for="email" class="leading-7 py-4 text-lg text-gray-900">Your Email</label>
                        <input type="email" id="email" name="email" required=""
                            class="w-full bg-white rounded border border-gray-400 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-900 py-1 px-1 leading-8 transition-colors duration-200 ease-in-out ">
                    </div>
                </div>
                <div class="p-2 w-full">
                    <div class="relative">
                        <label for="message" class="leading-7 py-4 text-lg text-gray-900">Your Message</label>
                        <textarea id="message" name="message" required=""
                            class="w-full bg-white rounded border border-gray-400 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-900 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out "></textarea>
                    </div>
                </div>
                <div class="p-2 w-full">
                    <button type="submit"
                        class=" rounded-full text-white inline-block justify-between bg-gray-900 border-0 py-2 pl-6 focus:outline-none hover:bg-purple-300 hover:text-black  text-xl font-bold shadow mx-0 flex-col text-end ">
                        Send Message
                        <span class=" bg-purple-300  p-2 rounded-full  ">✉</span>
                        
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</section>