---
import { Image } from "astro:assets";
import portfolioPic from "../images/1.png";
import portfolioPhoto from "../images/aboutImg.png"
---

<section class="pt-10 overflow-hidden bg-gray-50 dark:bg-gray-800 md:pt-0 sm:pt-16 2xl:pt-16">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
        <div class="grid items-center grid-cols-1 md:grid-cols-2">

            <div>
                <span class="relative inline-block ">
                    <span class="absolute inline-block w-2/6   leading-8 bottom-0.5 h-2  left-30  bg-violet-100 dark:bg-gray-900"></span>
                <h1 class="text-5xl font-bold leading-wide text-fuchsia-700 dark:text-white sm:text-6xl md:text-7xl drop-shadow-md"> Judit's

                 
                    <span class="text-gray-700 ml-2">Portfolio.</span>
                    
                    
                </h1>
            </span>
                <p class="   text-xl text-gray-900 leading-relaxed  mt-10 mb-8 md:mt-8">
                    Amet minim mollit non deserunt
                    ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
                    Exercitation veniam consequat sunt nostrud amet.
                </p>
                <p class="text-xl">
                    Amet minim mollit non deserunt
                    ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
                    Exercitation veniam consequat sunt nostrud amet.
                </p>

                <p class="mt-8 text-xl text-gray-600 dark:text-gray-300 md:mt-8">
                 
                       
                    <span class=" text-xl font-semibold p-3  text-black uppercase underline underline-offset-2 tracking-wide drop-shadow-md hover:bg-sky-200 "> Learn More </span>
                   
               
                    <br class="block sm:hidden" />
                    <button class="border-2 p-3 rounded-full bg-slate-900 text-white ml-6">
                        Contact me <a href="#contact" title=""
                        class="transition-all duration-200 text-sky-200  hover:text-sky-600 ">🡭</a>
                    </button>
                   
                </p>
            </div>

            <div class="relative">
              
<Image src={portfolioPhoto} class="relative w-full xl:max-w-lg xl:mx-auto 2xl:origin-bottom 2xl:scale-110" alt="profile foto"/>
          
            </div>

        </div>
    </div>
</section>
  
    
    
    
   
   