---
const { title, name } = Astro.props;
interface Props {
  title: string;
  name?: string;
}
---

<div
  class="border-b border-gray-200 flex justify-between items-center py-3 w-full px-2"
>
  <p class="">{title}</p>
  <p class="">{name}</p>
</div>
