---
import {skillTabs} from "../data/infoData.js"
import BlackBtn from "../components/BlackBtn.astro"
const lettersize="text-xs"
---

<div class="mx-4 w-screen overflow-hidden gap-2">

{skillTabs.map((skill)=>(
    <div class="bg-red-50 inline-block ml-2 mb-2">
     <BlackBtn info={skill} letterSize={lettersize}/>
     </div>


))}
</div>

  
