---
import {skillTabs} from "../data/infoData.js"

---

<div class="mx-4 w-screen overflow-hidden">

{skillTabs.map((skill)=>(

<div class="inline-block w-auto p-3 h-auto border-2 mx-auto mr-4 mb-4 rounded-lg bg-gradient-to-tl from-amber-600 to-violet-600 text-white font-bold">{skill}</div>
))}
</div>

  
