---

const {tags}=Astro.props
interface Props {
 tags:string[]
}

---

<!--tags -->
<div class="flex flex-wrap gap-2  mb-2 mt-8">
    {tags.map((tag: string, index: number) => {


      return (
        <span
          class:list={["px-3 py-1  text-center text-white rounded-full hover:opacity-90 text-xs hover:shadow-md ",
            tag.includes("bootstrap")?
              " bg-blue-500" :
              tag.includes("tailwind") || tag.includes("astro") || tag.includes("react")? "bg-indigo-500"
              : " bg-amber-600"]}
          }
        
        >
            
          
          <a href={"/projects/tag/" + tag} class="capitalize">#{tag}</a>
        </span>
      );
    })}
  </div>