---

const {tags}=Astro.props
interface Props {
 tags:string[]
}

---

<!--tags -->
<div class="flex flex-wrap gap-2 pl-4 mb-2 mt-8">
    {tags.map((tag: string, index: number) => {
      return (
        <span
          class:list={["w-1/5 py-1  text-center text-white rounded-full hover:opacity-90 text-xs hover:shadow-md ",
            index % 2 === 0
              ? " bg-amber-500"
              : " bg-violet-500"]}
          }
        
        >
            
          
          <a href={"/projects/tag/" + tag} class="capitalize">#{tag}</a>
        </span>
      );
    })}
  </div>