---
import { getEntry } from "astro:content";

import MainLayout from "../../layouts/MainLayout.astro";
const {slug}=Astro.params

if(slug === undefined){
    throw new Error("Slug required")
}
const entry=getEntry('project',slug)
if(entry===undefined){
    return Astro.redirect('/404')
}

---
<!-- change to ssr rendering -->
<MainLayout>
<h1 class="text-5xl text-red-600">hi {slug}</h1>

    
</MainLayout>