---

import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import ProjectCard from "../../components/ProjectCard.astro"
const query: string | null = Astro.url.searchParams.get('query');

const allProjectInfo:CollectionEntry<"project">[]=await getCollection("project")

const searchResults=allProjectInfo.filter(project=>{
    const bodyMatch:boolean=project.body.toLowerCase().includes(query!.toLowerCase());

    return bodyMatch
})

---

<MainLayout>
    <div>
        <h3>Result for the :
            <span class="italic">{query}</span></h3>
    </div>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {searchResults.map(article => (
      <ArticleCard article={article} />
    ))}
  </div>
    
</MainLayout>