---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const {title="Judit Szabo Resume"} =Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
        <link rel="stylesheet" href="boxicons.min.css">
        
        <meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-50">

        <!--Header -->
        <Header/>
        <section class="container mx-auto max-w-screen-xl mb-10 px-8 ">
            <slot/>
        </section>

        <!--Footer -->
        <Footer/>
    </body>
    </html>